<head>
    <title><%= meta && meta.title && meta.title.length > 0 ? `The Fifth World: ${meta.title}` : 'The Fifth World' %></title>
    <link rel="icon" href="https://thefifthworld.s3.us-east-2.stackpathstorage.com/design/icons/favicon.svg" />
    <link rel=”mask-icon” href=”https://thefifthworld.s3.us-east-2.stackpathstorage.com/design/icons/favicon.svg” color=”#000000" />
    <link rel="apple-touch-icon" href="https://thefifthworld.s3.us-east-2.stackpathstorage.com/design/img/apple-touch-icon.png" />
    <link rel="stylesheet" media="all" href="https://design.thefifthworld.com/v/1/1/0/style.css" crossorigin="" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="<%= meta.desc || 'Four centuries from now, humanity thrives beyond civilization.' %>" />
    <meta name="monetization" content="<%= meta.monetization %>" />

    <% if (!meta.antisocial) { %>
    <!-- Twitter Card data -->
    <meta name="twitter:title" content="<%= meta.title || 'The Fifth World' %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@thefifthworld" />
    <meta name="twitter:description" content="<%= meta.desc || 'Four centuries from now, humanity thrives beyond civilization.' %>" />
    <meta name="twitter:image" content="<%= meta.img || 'https://s3.amazonaws.com/thefifthworld/website/images/social/default.jpg' %>" />

    <!-- Open Graph data -->
    <meta property="og:title" content="<%= meta.title || 'The Fifth World' %>" />
    <meta property="og:site_name" content="The Fifth World" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= meta.url || 'https://thefifthworld.com' %>" />
    <meta property="og:description" content="<%= meta.desc || 'Four centuries from now, humanity thrives beyond civilization.' %>" />
    <meta property="og:image" content="<%= meta.img || 'https://s3.amazonaws.com/thefifthworld/website/images/social/default.jpg' %>" />
    <meta property="fb:app_id" content="241682169673933" />
    <% } %>
  </head>
