<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { meta }) %>
  <body class="thefifthworld">
    <%- include('includes/header', { member, showLogo: true }) %>
    <main>
      <%- include('includes/messages', { messages }) %>
      <h2>Recent Updates</h2>
      <table class="updates">
        <tbody>
          <% for (const update of updates) { %>
          <tr>
            <td>
              <a href="<%= update.path %>">
                <%= update.title %>
                <span class="path"><%= update.path %></span>
              </a>
            </td>
            <td>
              <%
                const monthAbbrs = [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
                const time = new Date(update.timestamp * 1000)
                const yr = time.getFullYear()
                const mo = time.getMonth() + 1
                const dy = time.getDate()
                const hr24 = time.getHours()
                const hr12 = hr24 === 0 ? 12 : hr24 > 12 ? hr24 - 12 : hr24
                const ampm = hr24 > 11 ? 'PM' : 'AM'
                const mn = `${time.getMinutes()}`.padStart(2, '0')
                const pmo = `${mo}`.padStart(2, '0')
                const pdy = `${dy}`.padStart(2, '0')
                const phr = `${hr24}`.padStart(2, '0')
                const timestamp = `${yr}-${pmo}-${pdy} ${phr}:${mn}`
                const hdate = `${dy} ${monthAbbrs[time.getMonth()]} ${yr} ${hr12}:${mn} ${ampm}`
              %>
              <time datetime="<%= timestamp %>">
                <%= hdate %>
              </time>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <!-- Create something -->
      <section class="create">
        <h3>Create Something</h3>
        <p>Add something new to the Fifth World.</p>
        <ul>
          <li><a href="/new" class="button">Add a Page</a></li>
          <li><a disabled="" title="Coming soon" class="button">Add a Family</a></li>
          <li><a disabled="" title="Coming soon" class="button">Add a Character</a></li>
          <li><a disabled="" title="Coming soon" class="button">Add a Place</a></li>
          <li><a disabled="" title="Coming soon" class="button">Write a Story</a></li>
          <li><a href="/upload" class="button">Upload a File</a></li>
          <li><a disabled="" title="Coming soon" class="button">Upload Art</a></li>
        </ul>
      </section>
      <p>Unsure where to start? Read more about <a href="/how-to-contribute">how to contribute</a>.</p>

      <!-- Discord -->
      <section>
        <h2>The Fifth World Discord Server</h2>
        <p>We use this website to create the Fifth World, so you won&rsquo;t find comments or forums here. Instead, we have <a href="https://discord.gg/<%= discordCode %>">the Fifth World Discord server</a>, which provides the social hub for our community. We run games and events, talk about the Fifth World and the ideas behind it, plan our work, post memes, and hang out there, and we&rsquo;d love for you to join us!</p>
        <p><a href="https://discord.gg/<%= discordCode %>" class="button">Join the Discord Server</a></p>
      </section>

      <!-- Membership -->
      <section>
        <h2>Your Membership</h2>
        <p>Your profile includes your name, email, and password, but you can decide what you want to share about yourself with the world.</p>
        <p class="buttons">
          <a href="/member/<%= member.id %>/edit" class="button">Edit Your Profile</a>
          <a href="/member/<%= member.id %>/edit" class="button secondary">View Your Profile</a>
        </p>
        <p>You can connect other services (Facebook, Twitter, Patreon, Google, or Github) and use them to sign into the Fifth World.</p>
        <p class="buttons">
          <a href="/connect" class="button">Connect Services</a>
        </p>
        <p>You can invite others to join the Fifth World, and see a list of all the people that you have invited.</p>
        <p class="buttons">
          <a href="/invite" class="button">Invitations</a>
        </p>
      </section>

      <%- include('includes/session') %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
