<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { meta }) %>
  <body class="thefifthworld">
    <%- include('includes/header', { member }) %>
    <main>
      <%- include('includes/messages', { messages }) %>
      <% if (page) { %>
      <nav class="breadcrumbs">
        <ul class="breadcrumbs">
          <% if (page.lineage && page.lineage.length > 0) { %>
          <% page.lineage.forEach(ancestor => { %>
          <li><a href="<%= ancestor.path %>"><%= ancestor.title %></a></li>
          <% }) %>
          <% } %>
          <li><a href="<%= page.path %>"><%= page.title %></a></li>
          <li class="current">Edit</li>
        </ul>
      </nav>
      <% } %>
      <h1><%= meta.title %></h1>
      <form action="<%= action %>" method="POST" class="page">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" placeholder="What do you want to write about?" value="<%= page ? page.title : '' %>" />
        <label for="path">
          Path
          <p class="note">This sets the page&rsquo;s URL. If left blank, it will default to a &ldquo;slugified&rdquo; version of the title (e.g., &ldquo;New Page&rdquo; will become <code>/new-page</code>).</p>
        </label>
        <input id="path" name="path" type="text" placeholder="/example" value="<%= page ? page.path : '' %>" />
        <label for="parent">
          Parent
          <p class="note">Should this page belong to another one? <span class="instructions">If so, provide the path to that other page here.</span></p>
        </label>
        <input id="parent" name="parent" type="text" value="<%= page && page.lineage && page.lineage.length > 0 ? page.lineage[page.lineage.length - 1].path : '' %>" />
        <label for="body">
          Body
          <p class="note">You can format your page using <a href="/markdown">Markdown</a>.</p>
        </label>
        <textarea id="body" name="body"><%= body || '' %></textarea>
        <aside class="collapsible">
          <h3>Metadata</h3>
          <label for="description">
            Description
            <p class="note">A short description added to the head of the page, used by search engines and other robots. If you don’t want to write a description, we’ll make one from the first few sentences of the page. If you’d like to write your own description, it has to remain shorter than 240 characters.</p>
          </label>
          <textarea name="description" id="description" data-char-count="240"><%= page && page.description ? page.description : '' %></textarea>
          <label for="image">
            Image
            <p class="note">Image used by social media when you share this page.</p>
          </label>
          <input type="text" name="image" id="image" />
        </aside>
        <label for="msg">
          Message
          <p class="note">Briefly describe the change you&rsquo;ve made.</p>
        </label>
        <input type="text" id="msg" name="msg" />
        <p class="buttons page-actions">
          <button>Save</button>
          <% if (member && member.admin) { %><input type="button" class="secondary" name="lock" value="Lock" /><% } %>
          <% if (member && member.admin) { %><input type="button" class="secondary" name="hide" value="Hide" /><% } %>
          <a href="<%= page.path %>" class="button secondary">Cancel</a>
        </p>
      </form>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
