<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { meta }) %>
  <body class="thefifthworld">
    <%- include('includes/header', { member }) %>
    <main>
      <%- include('includes/messages', { messages }) %>
      <nav class="breadcrumbs">
        <ul class="breadcrumbs">
          <li><a href="/dashboard">Dashboard</a></li>
          <li class="current">Invitations</li>
        </ul>
      </nav>
      <h1>Invitations</h1>
      <% if (invited && invited.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>You invited&hellip;</th>
            <th class="short">Status</th>
          </tr>
        </thead>
        <tbody>
        <% invited.forEach(acct => { %>
        <% if (acct.active && acct.nopass) { %>
          <tr>
            <td><%= acct.email %></td>
            <td class="short">Invited</td>
          </tr>
        <% } else if (acct.active) { %>
          <tr>
            <td><a href="/members/<%= acct.id %>"><%= acct.name || acct.email %></a></td>
            <td class="short">Member</td>
          </tr>
        <% } %>
        <% }) %>
        </tbody>
      </table>
      <% } %>
      <% if (invitations === 'Infinite' || invitations > 0) { %>
      <%
        const num = invitations === 'Infinite'
          ? 'As an administrator, you can send invitations to as many people as you like.'
          : `You can send invitations to up to <strong>${invitations}</strong> more people.`
      %>
      <h2>Send Invitations</h2>
      <p><%= num %>  Enter each email address on a separate line.</p>
      <form action="/invite" method="POST">
        <textarea name="invitations" placeholder="someone@example.com"></textarea>
        <p class="buttons">
          <button>Send Invitations</button>
        </p>
      </form>
      <% } %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
