<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { meta }) %>
  <body class="thefifthworld">
    <%- include('includes/header', { member }) %>
    <main>
      <%- include('includes/messages', { messages }) %>
      <% if (page.lineage && page.lineage.length > 0) { %>
      <nav class="breadcrumbs">
        <ul class="breadcrumbs">
          <% page.lineage.forEach(ancestor => { %>
          <li><a href="<%= ancestor.path %>"><%= ancestor.title %></a></li>
          <% }) %>
          <li class="current"><%= meta.title %></li>
        </ul>
      </nav>
      <% } %>
      <% if (page.type === 'Art' && page.files) { %>
      <%
        const images = page.files.filter(file => file.mime.startsWith('image/'))
        const image = images && Array.isArray(images) && images.length > 0 ? images[0] : null
      %>
      <% if (image) { %>
        <img src="<%= image.urls.full %>" alt="<%= meta.title %>" style="display:block;margin:1em auto;" />
      <% } %>
      <% } %>
      <h1><%= meta.title %></h1>
      <% if (page.type === 'File' && page.files) { %>
      <%
        const files = page.files.filter(file => !file.mime.startsWith('image/'))
        const file = files && Array.isArray(files) && files.length > 0 ? files[0] : null
      %>
      <% if (file) { %>
      <a href="<%= file.urls.full %>" class="download" download>
        <span class="label"><%= file.name.replace(/^uploads\/(.*?)\.\d\d\d\d\d\d\d\d\.\d\d\d\d\d\d\.(.*?)$/i, '$1.$2') %></span>
        <span class="details"><%= file.mime %>; <%= file.readableSize %></span>
      </a>
      <% } %>
      <% } %>
      <%- markup %>
      <p class="buttons page-actions">
        <% if (page.permissions.write) { %>
          <a href="<%= page.path %>/edit" class="button">Edit Page</a>
        <% } %>
        <a href="<%= page.path %>/history" class="button secondary">View Page History</a>
      </p>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
